%ubuntu-light{
    font-family: "Ubuntu-Light";
    font-weight: 300;
}

%ubuntu-medium{
    font-family: "Ubuntu-Medium";
    font-weight: 500;
}

%ubuntu-bold{
    font-family: "Ubuntu-Bold";
    font-weight: 700;
}

%sanfran-regular{
    font-family: "SFProDisplay-Regular";
    font-weight: normal;
}

%sanfran-semibold{
    font-family: "SFProDisplay-Semibold";
    font-weight: 600;
}