@import "vars";
@import "fonts";
@import "global";

//-----------------------------------------------------------------------------------------------------------
//
//                                                    START CODE
//
//-----------------------------------------------------------------------------------------------------------
//Header=====================================================================================================
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  // .header__inner

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 47px;
  }

  // .header__logo

  &__logo {
  }

  // .header__menu

  &__menu {
  }

  // .header__list

  &__list {
  }

  // .header__item

  &__item {
    display: inline-block;
    & + & {
      margin-left: 20px;
    }
  }

  // .header__link

  &__link {
    font-size: 15px;
    @extend %ubuntu-medium;
    &:hover {
      text-decoration: underline;
    }
  }

  // .header__contact

  &__contact {
  }

  // .header__btn

  &__btn {
    color: white;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 3px;
    padding: 7px 28px;
    margin-right: 8px;
    font-size: 15px;
    @extend %ubuntu-medium;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      background-color: white;
      color: black;
    }
  }

  // .header__phone

  &__phone {
    font-size: 16px;
    color: white;
    @extend %ubuntu-bold;
  }
}
//Header=====================================================================================================
//first-screen top===========================================================================================
.first-screen {
  position: relative;

  .section-bg.top {
    width: 100%;
    height: 100%;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: radial-gradient(
        45.97% 54.43% at 50% 45.57%,
        rgba(23, 26, 28, 0) 50.28%,
        rgba(23, 26, 28, 0.00225974) 50.29%,
        rgba(4, 5, 5, 0.820343) 58.72%,
        rgba(5, 5, 6, 0.792703) 80.08%,
        #000000 87.89%
      );
      opacity: 0.4;
    }
  }

  // .first-screen__wrapper

  &__wrapper {
    display: flex;
    align-items: flex-end;
    padding-bottom: 60px;
  }

  // .first-screen__inner

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // .first-screen__title

  &__title {
    font-size: 96px;
    @extend %sanfran-semibold;
    color: white;
    margin-bottom: 25px;
  }

  // .first-screen__img

  &__img {
    margin-bottom: 25px;
  }

  // .first-screen__subtitle

  &__subtitle {
    font-size: 17px;
    line-height: 150%;
    @extend %ubuntu-light;
    color: white;
    max-width: 324px;
    text-align: center;
    margin-bottom: 35px;
  }

  // .first-screen__social-link

  .social-link {
    margin-right: 50px;
    &:last-child{
        margin-right: 0;
    }
  }

  // .first-screen__arrow-down

  &__arrow-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    animation: arrows-down 1.5s linear infinite;
  }
}

.social-link {
  cursor: pointer;
  svg {
    width: 40px;
    height: 40px;
    fill: white;
    fill-opacity: 0.5;
    transition: all 0.3s;
    &:hover {
      fill-opacity: 1;
    }
  }
}

@keyframes arrows-down {
  0% {
    bottom: 30px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 30px;
  }
}
//first-screen top===========================================================================================
//Page-Product===============================================================================================
.product {
  //background-image: url(../images/bg.jpg);

  // .product__wrapper

  &__wrapper {
    display: flex;
    align-items: flex-end;
    padding-bottom: 60px;
  }

  // .product__title

  &__title {
    font-size: 44px;
    @extend %sanfran-regular;
    padding-left: 25px;
    margin-bottom: 55px;
  }

  // .product__inner

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  // .product__subtitle

  &__subtitle {
    padding-left: 56px;
    max-width: 500px;
    p {
      font-size: 17px;
      line-height: 150%;
      @extend %ubuntu-light;
      color: white;
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  // .product__slider-box

  &__slider-box {
    position: relative;
    max-width: 560px;
    margin: 106px 0 30px 0;
    &::before {
      content: "";
      position: absolute;
      top: -15px;
      right: -17px;
      width: 100%;
      height: 100%;
      border: 4px solid #ffffff;
    }
  }

  // .product__slider-text

  &__slider-text {
    position: absolute;
    bottom: 30px;
    left: -40%;
    z-index: 1;
    font-size: 24px;
    line-height: 28px;
    @extend %ubuntu-medium;
    color: white;
    text-align: right;
    max-width: 281px;
  }

  // .product__slider

  &__slider {
    transition: all 0.3s;
    &:hover {
      transform: translate(17px, -13px);
    }
  }

  // .product__slider-item

  &__slider-item {
  }

  // .product__slider-img

  &__slider-img {
  }
}

.product__slider-arrows {
  position: absolute;
  bottom: -44px;
  right: 0;
  padding: 13px 25px;
  background-color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  svg {
    stroke: black;
  }
}

.product__slider-left {
  right: 60px;
}

.product__slider-arrows.slick-disabled {
  background-color: black;
  svg {
    stroke: white;
  }
}

//Page-Product===============================================================================================
//advantages=================================================================================================
.advantages {
  position: relative;

  // .advantages__wrapper

  &__wrapper {
  }

  // .advantages__title

  &__title {
    padding-left: 25px;
    margin-bottom: 65px;
  }

  // .advantages__inner

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  // .advantages__item

  &__item {
    display: flex;
    &:nth-child(even) {
      margin-top: 20px;
    }
    &:nth-child(odd) {
      max-height: 130px;
    }
    &:nth-child(1) {
      margin-bottom: 110px;
    }
    &:nth-child(2) {
      margin-bottom: 110px;
    }
  }

  // .advantages__item-number

  &__item-number {
    font-size: 36px;
    @extend %ubuntu-bold;
    color: white;
    margin-right: 8px;
    display: flex;
    align-items: flex-end;
  }
  // .advantages__img-box

  &__img-box {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: -12px;
      right: -12px;
      z-index: -1;
      width: 100%;
      height: 100%;
      border: 2px solid #ffffff;
    }
  }

  // .advantages__img

  &__img {
    position: relative;
    width: 195px;
    height: 130px;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      transform: translate(12px, -12px);
    }
  }

  // .advantages__info

  &__info {
    margin-left: 32px;
  }

  // .advantages__info-title

  &__info-title {
    font-size: 21px;
    line-height: 24px;
    @extend %ubuntu-bold;
    color: white;
    max-width: 205px;
    margin-bottom: 10px;
  }

  // .advantages__info-subtitle

  &__info-subtitle {
    max-width: 300px;
    p {
      font-size: 15px;
      line-height: 130%;
      @extend %ubuntu-light;
      color: white;
    }
  }
}
.page {
  // .page__bg

  &__bg {
  }
}
.ibg {
}
.wrapper-section {
}
.title {
}
.first-screen {
  // .first-screen__arrow-down

  &__arrow-down {
  }
}

//advantages=================================================================================================
//specifications=============================================================================================
.specifications {
  // .specifications__title

  &__title {
    margin-bottom: 77px;
  }

  // .specifications__inner

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 46px;
  }

  // .specifications__item

  &__item {
    position: relative;
    margin-bottom: 140px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item-line-1,
  &__item-line-2,
  &__item-line-3,
  &__item-line-4 {
    position: absolute;
  }

  &__item-line-1 {
    top: 13px;
    right: -64%;
  }

  &__item-line-2 {
    top: 13px;
    left: -116%;
  }

  &__item-line-3 {
    top: -65px;
    right: -128%;
  }

  &__item-line-4 {
    top: -76px;
    left: -55%;
  }
  // .specifications__item-title

  &__item-title {
    font-size: 21px;
    @extend %ubuntu-bold;
    color: white;
    margin-bottom: 10px;
  }

  // .specifications__item-subtitle

  &__item-subtitle {
    p {
      font-size: 15px;
      line-height: 130%;
      @extend %ubuntu-light;
      color: white;
      max-width: 280px;
    }
  }
}

//specifications=============================================================================================
//questions==================================================================================================
.questions {
  // .questions__title

  &__title {
    margin-bottom: 46px;
  }

  // .questions__box

  &__box {
    max-width: 690px;
  }

  // .questions__box-item

  &__box-item {
    margin-bottom: 5px;
  }

  // .questions__box-mavic

  &__box-mavic {
    position: relative;
    &::before {
      position: absolute;
      bottom: -100px;
      right: -392px;
      content: url("../images/mavic-2.png");
    }
  }

  // .questions__box-title

  &__box-title {
    position: relative;
    font-size: 21px;
    color: rgba(255, 255, 255, 0.8);
    padding: 20px 120px 24px 39px;
    background-color: rgba(0, 0, 0, 0.3);
    @extend %ubuntu-medium;
    cursor: pointer;
    &::before {
      content: url("../images/arrow-down.svg");
      position: absolute;
      top: 0;
      right: -72px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: white;
      width: 13px;
      height: 20px;
      padding: 34px 36px;
      transition: all 0.6s;
    }
  }

  // .questions__subtitle

  &__box-subtitle {
    cursor: pointer;
    transition: all 0.3s;
    display: none;
    p {
      font-size: 15px;
      line-height: 150%;
      @extend %ubuntu-light;
      color: white;
      background-color: rgba(0, 0, 0, 0.3);
      padding: 10px 22px 75px 50px;
    }
  }
}

.questions__box-item.questions__box-active {
  .questions__box-title::before {
    content: url("../images/arrow-up.svg");
  }
  .questions__box-subtitle {
    display: block;
  }
}
//questions==================================================================================================
//contact====================================================================================================
.contacts {
  // .contacts__inner

  &__wrapper {
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 170px 0 55px;
  }

  // .contacts__column

  &__column {
  }

  // .contacts__item

  &__item {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      display: block;
      font-size: 15px;
      @extend %ubuntu-light;
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  // .contacts__item-title

  &__item-title {
    font-size: 21px;
    @extend %ubuntu-bold;
    color: white;
    margin-bottom: 13px;
  }

  // .contacts__form-wrapper

  &__form-wrapper {
    max-width: 570px;
  }

  // .contacts__form-title

  &__form-title {
    font-size: 21px;
    color: white;
    @extend %ubuntu-bold;
    margin-bottom: 13px;
  }

  // .contacts__form-subtitle

  &__form-subtitle {
    color: white;
    font-size: 15px;
    @extend %ubuntu-light;
    margin-bottom: 12px;
  }

  // .contacts__form-inner

  &__form-inner {
    display: flex;
    margin-bottom: 10px;
    input {
      width: 100%;
      padding: 15px;
      background-color: rgba(0, 0, 0, 0.5);
      border: none;
      margin-right: 10px;
      color: white;
      &:last-child {
        margin-right: 0;
      }
      &::placeholder {
        font-size: 13px;
        @extend %ubuntu-medium;
        color: rgba(255, 255, 255, 0.4);
      }
    }
  }
  textarea {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    resize: none;
    border: none;
    width: 100%;
    min-height: 144px;
    margin-bottom: 10px;
    &::placeholder {
      font-size: 13px;
      @extend %ubuntu-medium;
      color: rgba(255, 255, 255, 0.4);
    }
  }

  button {
    border: none;
    background-color: transparent;
    color: white;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 3px;
    padding: 7px 28px;
    margin-right: 8px;
    font-size: 15px;
    @extend %ubuntu-medium;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      background-color: white;
      color: black;
    }
  }
  // .contacts__social

  &__social {
    display: flex;
    flex-direction: column;
  }
}

.contaacts {
  // .contaacts__title

  &__title {
    padding-left: 25px;
    margin-bottom: 56px;
  }
}

// .social-link

.social-link {
  & + & {
    margin-top: 24px;
  }
}

//contact====================================================================================================
//footer====================================================================================================
.footer {
  position: relative;
  &__copy {
    position: absolute;
    bottom: 32px;
    right: 32px;
    color: white;
    opacity: 0.64;
  }
}
//footer====================================================================================================

//-----------------------------------------------------------------------------------------------------------
//
//                                                    END CODE
//
//-----------------------------------------------------------------------------------------------------------

@import "media";
