@import "vars";
@import "fonts";
@import "global";

//-----------------------------------------------------------------------------------------------------------
//
//                                                    START CODE
//
//-----------------------------------------------------------------------------------------------------------
//Header=====================================================================================================
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  // .header__inner

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 47px;
  }

  // .header__logo

  &__logo {
  }

  // .header__menu

  &__menu {
  }

  // .header__list

  &__list {
  }

  // .header__item

  &__item {
    display: inline-block;
    & + & {
      margin-left: 20px;
    }
  }

  // .header__link

  &__link {
    font-size: 15px;
    @extend %ubuntu-medium;
    &:hover {
      text-decoration: underline;
    }
  }

  // .header__contact

  &__contact {
  }

  // .header__btn

  &__btn {
    color: white;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 3px;
    padding: 7px 28px;
    margin-right: 8px;
    font-size: 15px;
    @extend %ubuntu-medium;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      background-color: white;
      color: black;
    }
  }

  // .header__phone

  &__phone {
    font-size: 16px;
    color: white;
    @extend %ubuntu-bold;
  }
}
//Header=====================================================================================================
//first-screen top===========================================================================================
.page__bg {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      119.35deg,
      rgba(23, 26, 28, 0.72) 0%,
      #5e5e57 100%
    );
    opacity: 0.15;
    z-index: 1;
  }
}

.top {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background: radial-gradient(
      45.97% 54.43% at 50% 45.57%,
      rgba(23, 26, 28, 0) 50.28%,
      rgba(23, 26, 28, 0.00225974) 50.29%,
      rgba(4, 5, 5, 0.820343) 58.72%,
      rgba(5, 5, 6, 0.792703) 80.08%,
      #000000 87.89%
    );
    opacity: 0.4;
  }
}
.first-screen {
  position: relative;

  // .first-screen__inner

  &__inner {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  // .first-screen__title

  &__title {
    font-size: 96px;
    @extend %sanfran-semibold;
    color: white;
    margin-bottom: 25px;
  }

  // .first-screen__img

  &__img {
    margin-bottom: 25px;
  }

  // .first-screen__subtitle

  &__subtitle {
    font-size: 17px;
    line-height: 150%;
    @extend %ubuntu-light;
    color: white;
    max-width: 324px;
    text-align: center;
    margin-bottom: 35px;
  }

  // .first-screen__social

  &__social {
  }

  // .first-screen__social-link

  &__social-link {
    margin-right: 50px;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
    svg {
      width: 40px;
      height: 40px;
      fill: white;
      fill-opacity: 0.5;

      transition: all 0.3s;

      &:hover {
        fill-opacity: 1;
      }
    }
  }
  &__arrow-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    animation: arrows-down 1.5s linear infinite;
  }
}

@keyframes arrows-down{
    0%{
        bottom: 30px;
    }
    50%{
        bottom: 20px;
    }
    100%{
        bottom: 30px;
    }
}
//first-screen top===========================================================================================
//Page-Product===============================================================================================
.product {
  position: relative;

  // .product__wrapper

  &__wrapper {
    position: absolute;
    z-index: 2;
    top: 30%;
    left: 0;
    right: 0;
  }

  // .product__title

  &__title {
    padding-left: 25px;
    margin-bottom: 55px;
  }

  // .product__inner

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  // .product__subtitle

  &__subtitle {
    max-width: 500px;
    padding-left: 56px;
    p {
      font-size: 17px;
      line-height: 150%;
      @extend %ubuntu-light;
      margin-bottom: 30px;
      color: white;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  // .product__slider-box

  &__slider-box {
    position: relative;
    max-width: 560px;
    &::before {
      content: "";
      position: absolute;
      top: -15px;
      right: -17px;
      width: 100%;
      height: 100%;
      border: 4px solid #ffffff;
    }
  }

  // .product__slider-text

  &__slider-text {
    position: absolute;
    bottom: 30px;
    left: -40%;
    z-index: 2;
    font-size: 24px;
    line-height: 28px;
    color: white;
    @extend %ubuntu-medium;
    max-width: 281px;
    text-align: right;
  }

  // .product__slider

  &__slider {
  }

  // .product__slider-item

  &__slider-item {
  }

  // .product__slider-img

  &__slider-img {
  }
}
.page {
  // .page__bg

  &__bg {
  }
}

.product__slider-arrows {
  position: absolute;
  bottom: -44px;
  padding: 14px 25px;
  right: 0;
  background-color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  svg {
    stroke: #000;
    width: 9px;
    height: 16px;
  }
}

.product__slider-left {
  right: 59px;
}

.product__slider-arrows.slick-disabled {
  background-color: black;
  svg {
    stroke: white;
  }
}

//Page-Product===============================================================================================

//-----------------------------------------------------------------------------------------------------------
//
//                                                    END CODE
//
//-----------------------------------------------------------------------------------------------------------

@import "media";
